*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(135deg, #667eea, #764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.Calculator{
    background:rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

}
.buttons {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.btn {
    padding: 20px;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.display {
    background: rgba(0,0,0,0.2);
    color: white;
    font-size: 36px;
    padding: 20px;
    border-radius: 10px;
    text-align: right;
    margin-bottom: 20px;

}
.operator {
    background: rgba(138, 43, 226, 0.8);
    color: white;
}